.vscode/

__pycache__/

venv/

migrations/
alembic.ini

# --- 以下为 React 需要忽略的文件 ---
# dependencies
client/node_modules
client/.pnp
clinet/.pnp.js

# testing
clinet/coverage

# production
clinet/build

# misc
clinet/.DS_Store
clinet/.env.local
clinet/.env.development.local
clinet/.env.test.local
clinet/.env.production.local

clinet/npm-debug.log*
clinet/yarn-debug.log*
clinet/yarn-error.log*
# --- end ---